<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpotiFind</title>
    <link rel="stylesheet" type="text/css" href="../static/homestyles.css">
</head>
<body>
<a class="logo" href="/home">
    <img alt="SpotiFind Home" src="../static/logo.png" height="40" width="200" >
</a>

<div class="displaybox">
    <div class="nowPlaying">
        <h1>NOW PLAYING</h1>
        <h2>Song Title</h2>
        <h4>Artist</h4>
        <h4>Album</h4>
    </div>
</div>

<div class="optionsDiv">
    <button class="menuOption" onclick="window.open('https://open.spotify.com/browse/featured', '_blank');">Open In Spotify</button><br>
    <button class="menuOption" onclick="window.open('/statQuery', '_self');">Analyze Your Music</button><br>
</div>
</body>
</html>