<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to SpotiFind</title>
    <link rel="stylesheet" type="text/css" href="../static/loginstyles.css">
</head>
<body>
    <div class="MainText">
        <img alt="SpotiFind Home" src="../static/logo.png" height="108.35" width="550">
        <h3>Discover your listening trends and visualize your interests</h3>
        <button class="loginButton" onclick="window.location.href = '/home';">CONNECT WITH SPOTIFY</button>
    </div>
</body>
</html>