<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Song Stats</title>
    <link rel="stylesheet" type="text/css" href="../static/queryStyles.css">
</head>
<body style="background-image: url({{top_artist_image}});">
    <!-- Header with link to return to homepage and time range selection -->
    <div class="header">
        <div class="dropdownMenu" style="margin-left: 20px;">
            <form method="POST">

                <p>Music History: <button name="time_range" type="submit" value="short_term">Recent</button>
                    <button name="time_range" type="submit" value="medium_term">Long Term</button>
                    <button name="time_range" type="submit" value="long_term">All Time</button>

                    <a class="logo" href="/home">
                        <img alt="SpotiFind Home" src="../static/logo.png" height="40" width="200">
                    </a>
                </p>
            </form>
        </div>
    </div>

    <!-- Div that will hold all the contents (cards) -->
    <div class="content">
        <!-- Cards for top artists/songs/genres -->
        <div class="results" id="artists">
            <h2>Top Artists</h2>
            <ol>
                {% for artist in artists %}
                <li> {{ artist }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="results" id="tracks">
            <h2>Top Tracks</h2>
            <ol>
                {% for song in tracks %}
                <li> {{ song }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="results" id="genres">
            <h2>Top Genres</h2>
            <ol>
                {% for genre in genres %}
                <li> {{ genre }}</li>
                {% endfor %}
            </ol>
        </div>

        <!-- Pie Chart Cards -->
        <div class="chartCard" id="genreCard">
            <h2>Your Top Genres</h2>
            <img alt="Top Artist Genres Pie Chart" src="../static/genres_pie_chart.png" height="70%" width="100%">
        </div>

        <div class="chartCard" id="LiveCard">
            <h2>Live vs Studio Tracks</h2>
            <img alt="Live vs Studio Pie Chart" src="../static/live_pie_chart.png" height="70%" width="100%">
        </div>

        <div class="chartCard" id="AcousticCard">
            <h2>Acoustic vs Non-Acoustic Tracks</h2>
            <img alt="Acoustic vs Non-Acoustic Pie Chart" src="../static/acoustic_pie_chart.png" height="70%" width="100%">
        </div>
    </div>

    </body>
</html>