<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpotiFind</title>
    <link rel="stylesheet" type="text/css" href="../static/HomeStyle.css">
</head>
<body>

<div class="header">
    <a class="image" href="/home">
        <img alt="SpotiFind Home" src="../static/logo1.png" height="40" width="200" >
    </a>

</div>
    <h1>THIS IS YOUR HOME PAGE</h1>
    <ol>
        <li><a href="https://www.spotify.com/" target="_blank"><h4>Open In Spotify</h4></a></li>
        <li><a href="/statQuery"><h4>Analyze Your Music</h4></a></li>

        <!-- Stretch Goals
        <li><a href="/recs"><h4>Discover Similar Music</h4></a></li>
        <li><a href="/trackAnalysis"><h4>Stats For This Song</h4></a></li>
        -->
    </ol>

</body>
</html>