<!DOCTYPE html>
<html lang="en" style="height: 100%; margin:0;">
<head>
    <meta charset="UTF-8">
    <title>Welcome to SpotiFind</title>
</head>
<body style="background-image: url(../static/RecordImage.png); height: 100%; margin:0; background-position: center; background-repeat: no-repeat;">
    <div class="MainText" style="position: absolute; top: 30%; left: 50%; margin-left: -275px" >

        <img alt="SpotiFind Home" src="../static/logo1.png" height="108.35" width="550">
        <H3 style="font-family:'Arial'; color: white; text-shadow: black;">Discover your listening trends and visualize your interests</H3>

        <button class="loginButton" onclick="window.location.href = '/home';" style="background-color: white;
        border: none;
        font-family: 'Arial Black';
        font-size: x-large;
        width: 530px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        color: #A71919;
        padding: 10px 20px;
        text-align: center;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 30px;">CONNECT WITH SPOTIFY</button>
    </div>

</body>
</html>